body{
  background-color: #F7F6E7;
  margin: 0;
  width: 100%;
  min-height: 607px;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}
/*
  #E7E6E1
  #F7F6E7
  #C1C0B9
  #537791
*/
form{
  background: #C1C0B9;
  width: 350px;
  border: 1px solid #4e4d4d;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: inset 0 0 3px #000;
  margin: 100px auto;
}

img{
  margin: 20px 20px;
}

form h1{
  text-align: center;
  color: #E82C0C;
  font-weight: normal;
  font-size: 40pt;
  margin: 30px 0px;
  font-family: 'Lemonada', cursive;
}

form input{
  width: 280px;
  height: 35px;
  padding: 0px 10px;
  margin: 10px 30px;
  color: #537791;
  text-align: center;

}

form button{
  width: 135px;
  margin: 20px 0px 30px 100px;
  height: 50px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3c3c3c+0,2a2828+100 */
  background: rgb(83,119,145); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(83,119,145,1) 0%, rgba(83,119,145,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(83,119,145,1) 0%,rgba(83,119,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(83,119,145,1) 0%,rgba(83,119,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#2a2828',GradientType=0 ); /* IE6-9 */
  border: 1px solid #232323;
  color: #fff;
  box-shadow: 0px 2px 0px #000;
  -moz-box-shadow: 0px 2px 0px #000;
  -webkit-box-shadow: 0px 2px 0px #000;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
}

form button:hover{
  background:  rgba(83,119,145,.8);
  color: #000;
}

form button:active{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a2828+1,3c3c3c+100 */
  background: rgb(83,119,145); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(83,119,145,1) 1%, rgba(83,119,145,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(83,119,145,1) 1%,rgba(83,119,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(83,119,145,1) 1%,rgba(83,119,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2828', endColorstr='#3c3c3c',GradientType=0 ); /* IE6-9 */
  transform: scale(0.95);
  color: #fff;
}

@media (max-width:470px){
  form{
    width: 75%;
  }
}

@media (max-width:420px){
  form{
    width: 100%;
  }
}
