
 body, html {
     height: 100%;
 }

 /* The hero image */
 .hero-image {
     /* The image used */
     background-image: url("../images/back.png");

     /* Set a specific height */
     height: 80%;
     width: 100%;

     height: 90%;
     width: auto;

     /* Position and center the image to scale nicely on all screens */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
 }

 /* Place text in the middle of the image */
 .hero-text {
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: white;
 }
