body{
  position: absolute;
  margin: 0;
  width: 100%;
  min-height: 100%;
  background-color: #E7E6E1;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

/* set paramethers for the title and the background for him*/
h1{
  text-align: center;
  background: rgba(0,0,0,0.4);
  color:green;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
}

/* set paramethers for the title type h3 and the background for him*/
h2{
  color: #000000;
  text-align: center;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
}

.navb{
  margin-top: 130px;
  margin-left: 20px;
  -moz-animation-duration: 3s;
  -moz-animation-delay:1s;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay:1s;
  animation-duration: 3s;
  animation-delay:1s;
}

/*line for decoration*/
hr{
  max-width: 1300px;
  border-width: 6px;
  border-color: #D7AE92;
}

.bg-primary{
  transition: all 2s ease;
}

footer{
  position: relative;
  height: 150px;
  max-width: auto;
  background-color: #FFFFFF;
  z-index: -10;
}

.mariel{
  margin-top: -40px;
}

.text-second{
  color: #F7F6E7;
}

.btn-blur{
  background-color: #C1C0B9;
  cursor: pointer;
}

.btn-blur:hover{
  background-color: #B3B3B3;
  cursor: pointer;
}

.thumb{
     height: 300px;
     margin: 10px 5px 0 0;
}

/*Inicio de Menú*/
ul.tabs{
  background: #C1C0B9;
  margin-top: -20px;
  margin-left:81px;
  list-style: none;
  display: flex;
}

ul.tabs li{
  width: 100%;
}

ul.tabs li:hover{
  background-color: #B3B3B3;
}

ul.tabs li a{
  color: #F7F6E7;
  text-decoration:none;
  font-size: 16px;
  text-align: center;
  display: block;
  padding: 20px 0px;
}

ul.tabs li a:hover{
  color: #000;
}

.active{
  background-color: #537791;
}

ul.tabs li a .tab-text{
  margin-left: 8px;
}

.second-color{
  color: #F7F6E7;
}
/*Fin de Menú*/

/*Inicio de secciones para los artículos*/
.secciones{
  width: 100%;
  margin-bottom: 85px;
}

.secciones article{
  padding: 30px;
  text-align: justify;
}
/*Fin de secciones para los artículos*/

.plus-element{
  margin-top: 20px;
  margin-left: 120px;
}

.delli{
  list-style: none;
  color: #537791;
  font-size: 20px;
}

.delli:hover{
  background-color: #F7F6E7;
}

.dela:hover{
  background-color: #537791;
  color: white;
}

.deloff:hover{
  background-color: #f33030;
  color: white;
}

.mar-left{
  margin-left: 100px;
 }


#imgFooter1{
  z-index: -10;
}
#imgFooter2{
  z-index: -10;
}

.sidebar{
  position:fixed;
  height: 100%;
  width: 250px;
  background-color: #C1C0B9;
  outline: 1px solid #537791;
  z-index: 100;
}

.sidebar ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li{
  outline: 1px solid #537791;
  transition: all 0.3s;
}

.sidebar li:hover{
  background-color: #F7F6E7;
  border-left: 10px solid #537791;
}

/*
  #E7E6E1
  #F7F6E7
  #C1C0B9
  #537791
*/
.sidebar h4{
  text-align: right;
  padding: 10px;
  margin: 0;
  background-color: #537791;
  color: #fff;
}

.sidebar a{
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: #537791;
}

.sidebar a:hover{
  color: #000;
}

.sidebar span{
  display: inline;
  cursor: pointer;
  margin-left: 45px;
  background-color: #fff;
  color: #537791;
  padding: 9px;
}

.sidebar span:hover{
  background-color: #B3B3B3;
}

.contenido{
  position: fixed;
  display: block;
  background-color: #E7E6E1;
  padding: 10px;
  transition: all 0.5s ease-out;
}


.contenido span{
  cursor: pointer;
  font-size: 30px;
}

.menLeft{
  margin-top: -50px;
}

.point{
  cursor: pointer;
}

.bord{
  border: 1px solid #4e4d4d;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0px 1px 1px 1px #888888;
  -moz-box-shadow: 0px 1px 1px 1px #888888;
  -webkit-box-shadow: 0px 1px 1px 1px #888888;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  border-top: 0px;
  -moz-border-top: 0px;
  -webkit-border-top: 0px;

}

.mart{
  margin-top: -13px;
}

/*Parte de las imágenes*/

.texto{
  margin-top: 35px;
  text-align: center;
  color: rgba(17,17,17,.4);
}

.divFile{
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  width: 100px;
  height: 100px;
  border: 3px solid rgba(17,17,17, .4);
  border-style: dashed;
  overflow-x: hidden;
}

.entrada{
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.divFile:hover .texto{
  color: rgba(17,17,17, .6);
}

.divImg{
  margin-top: 10px;
  margin-left: 10px;
  width: 100px;
  height: 100px;
}
.divImg:hover{
  opacity: .5;
  cursor: pointer;
}
.acom{
  position: relative;
  margin-bottom: 35px;
  margin-left: -20px;
  z-index:30;
}

.acom:hover{
  cursor: pointer;
  color: rgba(255, 0, 0, 0.8);
  -webkit-transform: scale(2,2);
  -moz-transform: scale(2,2);
}
/*Acordeon*/
.acordeon{
  width: 78%;
  margin: 60px auto 150px auto;
}

.titulo{
  color: rgba(0,0,0, .5);
  background: #C1C0B9;
  text-align: center;
  line-height: 2.2;
  padding: 0;
  font-size: 1.2em;
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0, 0.05);
  box-shadow: 0 1px 0 0 #fff inset;
  text-shadow: 1px 1px #000;
  cursor: pointer;
}

.titulo:hover{
  color: #F7F6E7;
  background-color: rgba(83,119,145, 1.12);
  text-shadow: 1px 1px #000;
}

.cont{
  margin: 20px;
  padding: 5px;
  text-align: justify;
}

/* Acordeon*/
/*
  #E7E6E1
  #F7F6E7
  #C1C0B9
  #537791
*/
.consultaRes{
  margin-top: 50px;
  list-style: none;
  flex-direction:column;
  align-items: center;
  align-content: center;
}

.cRow{
  background-color: #C1C0B9;
  min-height: 100px;
  width: 650px;
  border: 1px solid rgba(17,17,17, .4);
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
  margin-top: 16px;
}

.cRow:hover{
  position: relative;
  cursor: pointer;
  transform: scale(1.03,1.03);
  transition: all 0.4s ease-in;
  border: 1px solid rgba(17,17,17, .4);
  border-radius: 8px;
  box-shadow: 10px 10px 5px #aaaaaa;
  z-index: 100;
}

.cRow:hover label{
  cursor: pointer;
  color: #537791;
}

.cRow:hover img{
  box-shadow: 10px 10px 5px #aaaaaa;
  transform: scale(2,2);
  transition: all 0.4s ease-in;
  border: 1px solid rgba(17,17,17, .4);
  border-radius: 8px;
  background-color: #E7E6E1;
  z-index: 100;
}

.cRow label{
  margin-bottom: -10px;
  margin-left: -30px;
}
.cRow .lbl2{
  margin-right: -10px;
}
.cRow .lblEst{
  margin-top: -20px;
}
.cRow img{
  width: 100%;
  height: 100%;
  margin-left: -20px;
}

.strTit{
  font-size: 16px;
}
